:root {
  --ndcc-red: rgb(208, 53, 58);
  --ndcc-pink: rgba(250, 190, 191, 0.5);
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

body {
  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  user-select: none;
}

img {
  width: 100%;
}

label,
p {
  margin: 0;
  padding: 0;
}

label,
select {
  cursor: pointer;
}

.label-id-section {
  font-size: 0.875rem;
  padding-right: 6px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"] {
  border: none;
  cursor: pointer;
}

table,
th,
tr {
  border: 1px solid black;
}

@import url("https://cdn.syncfusion.com/ej2/bootstrap5.css");
